# Node modules
node_modules/

# Vite build output
dist/
dist-ssr/

# Vite cache
.vite/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript cache
*.tsbuildinfo

# Jest coverage and config
coverage/
jest.config.ts

# Optional: Mac/Linux swap files
*.swp
*.swo

# IDE/Editor specific files
*.suo
*.ntvs*
*.njsproj
*.sln
